<html ng-app="appName">
<head>
  <title>toDo List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-lg-8">
          <div ng-controller="toDoCtrl">

            <div class="input-group">
              <h1>my TO DO list</h1>
              task:<input type="text" class="form-control" ng-model="userTask" placeholder="Enter task"><br>
              rate:<input type="number" class="form-control" ng-model="userRate" placeholder="Enter importance rate"> <br><br><br>
            
              <button type="button" class="btn btn-success" ng-click="createTask()">submit</button>
            </div>


              <div class="listContainer" style="margin-top:40px;">
                  <ol style="margin:0 auto;width:400px;text-decoration:none;text-align:left">
                    <li ng-repeat="task in toDoEmpty | orderBy: '-rate'">
                      {{task.task}} - importance: {{task.rate}}
                      <input type="checkbox" ng-model="userCheckboxModel.value1"> {{task.check}}
                        <button type="button" class="btn btn-danger" ng-click="removeFromList(task)">remove</button>
                    </li>
                  </ol>
              </div>  
          </div>
      </div>
  </div>
</div>

<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/angular-material/angular-material.js"></script>
<script type="text/javascript" src="../app.js"></script>
<script type="text/javascript" src="toDoService.js"></script>
<script type="text/javascript" src="todoctrl.js"></script>
</body>
</html>